*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: rgb(119,129,92);
    color: white;
    overflow: hidden;
    overflow-y: hidden;
}