#intro{
    height: calc(100vh - 4rem);
    max-width: 75vw;
    margin: 0 auto;
    
    
}

.hireMeButton{
    border: none;
    background: rgb(255, 255, 255);
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    border-radius: 12rem;
    transition-duration: 0.4s;
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.50rem 1.5rem;
}

.hireMeButton:hover{
    background-color: rgb(134, 127, 127);
    color:white;
}

.hireMeImg{
    height: 3rem;
    width: 3rem;
    padding: 5px;
    margin-right: 2px;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2px;
    font-size: 5em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75rem;
    font-weight: 300;
}

.introName{
    color: black;
}

.introParagraph{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

@media screen and (max-width:840px){
    .introContent{
        font-size: 8.5vw;
    }
    .hello{
        font-size: 5.5vw;
    }
    .introParagraph{
        font-size: 3vw;
    }
}

@media screen and (max-width:480px){
    .introContent{
        font-size: 7.5vw;
    }
    
}